<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cadastro de Estação</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>

<body>
<div class="container mt-5">
    <h2 th:text="${#strings.isEmpty(estacao.id) ? 'Nova Estação' : 'Editar Estação'}"></h2>
    <form th:action="@{/cptm+/adm/painel-administrativo/estacoes/salvar}" th:object="${estacao}" method="post">

        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Estação</label>
            <input type="text" id="nome" class="form-control" th:field="*{nome}" placeholder="Digite o nome" required />
        </div>

        <div class="mb-3">
            <label for="linhaId" class="form-label">Linha</label>
            <select id="linhaId" name="linhaId" class="form-select" required>
                <option value="" disabled
                        th:selected="${estacao.linha == null}">Selecione a linha</option>
                <option th:each="linha : ${linhas}"
                        th:value="${linha.id}"
                        th:text="${linha.nome}"
                        th:selected="${estacao.linha != null} ? ${linha.id} == ${estacao.linha.id} : false">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a th:href="@{/estacoes/listar}" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
</div>
</body>
</html>
