<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Passageiros</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <style>
    .navbar-custom {
      background-color: #EE3338;
    }

    .btn-warning {
      background-color: #fdfd96;

    }

    .btn-new {
      background-color: #EE3338;
      border-color: #EE3338;
      color: white;
      font-weight: 600;
      transition: background-color 0.3s ease;
    }
    .btn-new:hover, .btn-new:focus {
      background-color: #bb292d;
      border-color: #bb292d;
      color: white;
    }

  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container">
    <a class="navbar-brand" th:href="@{/adm/painel-administrativo}">Painel CPTM+</a>
    <div>
      <a th:href="@{/adm/notificacao/inserir}" class="btn btn-new">+ Nova Notificação</a>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2>Lista de Passageiros</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Email</th>
      <th>Data de Nascimento</th>
      <th>Linhas Favoritas</th>
      <th>Senha</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="passageiro : ${passageiros}">
      <td th:text="${passageiro.nome}">Nome</td>
      <td th:text="${passageiro.cpf}">CPF</td>
      <td th:text="${passageiro.email}">Email</td>
      <td th:text="${#temporals.format(passageiro.dataDeNascimento, 'dd/MM/yyyy')}"></td>
      <td>
        <span th:each="linha : ${passageiro.linhasFavoritas}" th:text="${linha.nome}" th:append=", "></span>
      </td>
      <td th:text="${passageiro.senha}">123456</td>
      <td>
        <a th:href="@{/adm/passageiro/editar/{id}(id=${passageiro.id})}" class="btn btn-sm btn-warning">Editar</a>
        <a th:href="@{/adm/passageiro/remover/{id}(id=${passageiro.id})}" class="btn btn-sm btn-danger">Excluir</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
