<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/cadastro.css" />
    <title>CPTM+</title>
</head>
<body>
<div class="main-container">
    <header class="header">
        <a th:href="@{/cptm+/home}">
            <div class="logo">
                <img src="/images/cptm.png" alt="Logo CPTM+" />
            </div>
        </a>
        <button th:onclick="${logado} ? 'location.href=\'/cptm+/usuario\'' : 'location.href=\'/cptm+/login\''"
                class="user-button" aria-label="Usuário">
            <img src="/images/user.png" alt="user" />
        </button>
    </header>

    <div class="content">
        <div class="cadastro-container">
            <div class="cadastro-header">Cadastro</div>
            <form th:action="@{/cptm+/login/salvar}" th:object="${passageiro}" method="post" class="form-container" id="cadastroForm">

                <input type="text" th:field="*{nome}" placeholder="Nome Completo" required />

                <label for="dataNascimento">Data de nascimento:</label>
                <input type="date" th:field="*{dataNascimento}" id="dataNascimento" required />


                <input type="email" th:field="*{email}" placeholder="Email" required />
                <input type="text" th:field="*{cpf}" placeholder="CPF" required maxlength="14" />
                <input type="password" th:field="*{senha}" placeholder="Senha" required minlength="6" />

                <button type="submit" class="btn-submit">Cadastrar</button>
            </form>

        </div>

        <div class="card">
            <img src="/images/cptm2.png" alt="CPTM Trens" />
            <h2>Conecte-se com a CPTM do Futuro</h2>
            <div class="divider_2"></div>
            <p>Faça login e salve suas preferências, receba alertas sobre suas rotas e aproveite uma experiência mais personalizada!</p>
            <button onclick="location.href='/cptm+/login'" class="botao-cadastro2">Fazer Login</button>
        </div>
    </div>

    <div class="bottom-nav">
        <button onclick="location.href='/cptm+/home'" class="icon-button">
            <img src="/images/homeIcon.png" alt="Home" class="icon" />
        </button>
        <button onclick="location.href='/cptm+/estacoes'" class="icon-button">
            <img src="/images/location-pin.png" alt="Localização" class="icon" />
        </button>
        <button onclick="location.href='/cptm+/rastreamento'" class="icon-button">
            <img src="/images/trem.png" alt="Trem" class="icon" />
        </button>
        <button onclick="location.href='/cptm+/ajuda'" class="icon-button">
            <img src="/images/siren.png" alt="Notificações" class="icon" />
        </button>
    </div>
</div>

<script src="/js/cadastro.js"></script>
</body>
</html>