<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../../static/cptm.css" />
    <title>CPTM+</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <section>
        <div class="phone-container">
            <div class="phone-screen">
                <div class="content">
                    <h1>Conteúdo do celular</h1>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                    <p>Esse conteúdo pode ser rolado dentro da tela do celular.</p>
                </div>
                <div class="bottom-nav">
                    <img src="../../static/images/homeIcon.png" alt="Home" class="icon" />
                    <img src="../../static/images/location-pin.png" alt="Localização" class="icon active" />
                    <img src="../../static/images/trem.png" alt="Trem" class="icon" />
                    <img src="../../static/images/siren.png" alt="Notificações" class="icon" />
                </div>
            </div>
        </div>
    </section>
</body>
</html>