<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/login.css" />
    <title>CPTM+</title>
</head>
<body>
<section>

    <!-- Celular -->
    <div class="phone-container">
        <div class="phone-screen">

            <!-- Header -->
            <header class="header">
                <button onclick="location.href='/cptm+/home'" class="icon-button">
                    <div class="logo">
                        <img class="logo" src="/images/cptm.png" alt="Logo CPTM+" />
                    </div>
                </button>
                <button onclick="location.href='/cptm+/login'" class="user-button" aria-label="Usuário">
                    <img class="logo" src="/images/user.png" alt="user" />
                </button>
            </header>

            <div class="content">
                <div class="button-pai">
                    <button onclick="location.href='/cptm+/cadastro'" class="botao-cadastro">
                        <div class="texto">
                            <span>Não tem login?</span>
                            <span>Cadastre-se</span>
                        </div>
                        <img class="cadastro" src="/images/add-user.png" alt="img suporte">
                    </button>
                </div>
                <div class="login-container" th:action="@{/login}" method="post">
                    <div class="login-header">Login</div>
                    <form class="login-form">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" required />
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" required />
                        <a href="#">Esqueceu a senha?</a>
                        <button type="submit">Entrar</button>
                    </form>
                </div>
                <div class="card">
                    <img src="/images/cptm2.png" alt="CPTM Trens" />
                    <h2>Conecte-se com a CPTM do Futuro</h2>
                    <div class="divider_2"></div>
                    <p>Faça login e salve suas preferências, receba alertas sobre suas rotas e aproveite uma experiência mais personalizada!</p>
                    <button onclick="location.href='/cptm+/cadastro'" class="botao-cadastro2">Cadastre-se</button>
                </div>

                <!-- Footer fixo -->
                <div class="bottom-nav">
                    <button onclick="location.href='/cptm+/home'" class="icon-button">
                        <img src="/images/homeIcon.png" alt="Home" class="icon" />
                    </button>
                    <button onclick="location.href='/cptm+/estacoes'" class="icon-button">
                        <img src="/images/location-pin.png" alt="Localização" class="icon" />
                    </button>
                    <button onclick="location.href='/cptm+/rastreamento'" class="icon-button">
                        <img src="/images/trem.png" alt="Trem" class="icon" />
                    </button>
                    <button onclick="location.href='/cptm+/ajuda'" class="icon-button">
                        <img src="/images/siren.png" alt="Notificações" class="icon" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>